.account-layout {
    display: flex;
    flex-direction: column;
    min-height: 200vh;
}

header, footer {
    background-color: #1C375B;
    color: white;
    padding: 10px;   
}

main {
    flex: 1;
    padding: 1rem;
}
