@inherits LayoutComponentBase

<div class="account-layout">
    <header>
        <h1>Account Header</h1>
    </header>
    <main>
        @Body
    </main>
    <footer>
        <p>Account Footer</p>
    </footer>
</div>

