@inherits LayoutComponentBase

<style>
    header, footer {
        background-color: #1C375B;
        color: white;
        padding: 10px;
    }
</style>

<div class="account-layout">
    <header>
        
    </header>
    <main>
        @Body
    </main>
    <footer>
       
    </footer>
</div>
